/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



/////////////////////////////

  
       
        .faq-title {
            font-family: var(--font-section-header);   
            font-weight: 400;
                font-size: 52px;
                line-height: 123%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: var(--color-black);

            }
        
            .span-faq-title {
                color: var(--color-green);
            }
        
            .faq-container {
                display: flex;
                flex-direction:column;
                row-gap: 40px;
                
             }
              
            .faq-list{
             padding: 0 24px;

            }
             .faq-list-item{
                padding: 28px 0;
             }
             .faq-list-item-title{
                font-family: var(--font-section-header);
                font-weight: 400;
                font-size: 18px;
                line-height: 156%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: var( --color-black);
             }
            .faq-list-item-text{
                font-family: var(--font-text);
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.03em;
                color: var(--color-black);
                margin-top: 24px;
    
            }
            


  @media only screen and (min-width: 768px) {
             
    

  }


           
 @media only screen and (min-width: 1280px) {



 }
